---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "CV";
---

<Layout pageTitle={pageTitle}>
    

    <iframe src = "https://github.com/Elizabeth-Fitz/Cwis_Web/blob/main/public/Temporary_Document.pdf" > </iframe>



    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`${import.meta.env.BASE_URL}posts/${cardPost.id}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
