---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "CV";
---

<Layout pageTitle={pageTitle}>
    

    <iframe src = "https://viewscreen.githubusercontent.com/view/pdf?browser=edge&bypass_fastly=true&color_mode=auto&commit=96b41d427145241d76cb25421d022df68b238975&device=unknown_device&docs_host=https%3A%2F%2Fdocs.github.com&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f456c697a61626574682d4669747a2f437769735f5765622f393662343164343237313435323431643736636232353432316430323264663638623233383937352f7075626c69632f54656d706f726172795f446f63756d656e742e706466&link_underline_enabled=true&logged_in=true&nwo=Elizabeth-Fitz%2FCwis_Web&path=public%2FTemporary_Document.pdf&platform=windows&repository_id=1028000538&repository_type=Repository&version=139#23575d78-2c05-45d1-a798-e742c4e2dc2b" > </iframe>



    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`${import.meta.env.BASE_URL}posts/${cardPost.id}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
